#####################################################################
# 	Macros
# https://partner-3d.de/klipper-gcode-befehle-uebersicht/
#####################################################################



#-print_start---------------------------------------------------------------------------------
[gcode_macro print_start]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
variable_bed_temp:0
variable_extruder_temp:0
variable_material:"NA"
variable_print_min_x:0
variable_print_min_y:0
variable_print_max_x:0
variable_print_max_y:0

gcode:
    #SDCARD_RESET_FILE
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(180)|int %}
    {% set MATERIAL = params.MATERIAL|default('"PLA"')|string %}
    {% set print_min_x = params.PRINT_MIN.split(",")[0]|float %}
    {% set print_min_y = params.PRINT_MIN.split(",")[1]|float %}
    {% set print_max_x = params.PRINT_MAX.split(",")[0]|float %}
    {% set print_max_y = params.PRINT_MAX.split(",")[1]|float %}
	
	# Variablen so festlegen, dass sie außerhalb des Makros verfügbar sind
    SET_GCODE_VARIABLE MACRO=print_start VARIABLE=bed_temp VALUE={BED_TEMP}                 #Variable wir GOLBAL gepeichert
    SET_GCODE_VARIABLE MACRO=print_start VARIABLE=extruder_temp VALUE={EXTRUDER_TEMP}       #Variable wir GOLBAL gepeichert
    SET_GCODE_VARIABLE MACRO=print_start VARIABLE=material VALUE="'{MATERIAL}'"       	    #Variable wir GOLBAL gepeichert
    SET_GCODE_VARIABLE MACRO=print_start VARIABLE=print_min_x VALUE={print_min_x}
    SET_GCODE_VARIABLE MACRO=print_start VARIABLE=print_min_y VALUE={print_min_y}
    SET_GCODE_VARIABLE MACRO=print_start VARIABLE=print_max_x VALUE={print_max_x}
    SET_GCODE_VARIABLE MACRO=print_start VARIABLE=print_max_y VALUE={print_max_y}
    #----------------------------------------------------------------------

    G32                             # Starte Makro G32_
    BED_MESH_CLEAR                  # Berreinige die aktuelle Bett Mesh konfiguration
    SET_MATERIAL_SETTINGS           # Starte Makro SET_MATERIAL_SETTINGS_
    #BED_MESH_PROFILE LOAD=default  # Lade die "default" Bett Mesh konfiguration
     #CLEAN_NOZZLE_START              # Starte Makro CLEAN_NOZZLE_KURZ_
    #G32                            # home all axes
    #G1 Z20 F3000                   # move nozzle away from bed
    #G28                            # Home all axes
    #G1 X1 Y1 Z1                    # go to center while heating up
    #G32
#BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX} FORCE_NEW_MESH=True
    # Start bed heating (but don't wait for it)
    #M140 S{BED_TEMP}
    # Use absolute coordinates
    #G90
    #Smart_Park
    #G28 Z; recalibrate Z now that we are at temp
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}                # M190 Setzte Bett Temperatur und warte bis Temp erreicht ist.
    M109 S{EXTRUDER_TEMP}           # M104 Setzte Extruder Temperatur und warte bis Temp erreicht ist.
    #CLEAN_NOZZLE_START              # Starte Makro CLEAN_NOZZLE_START_
    LINE_PURGE
    #status_printing                 # Setze LED auf statud Printing
    M118 MAKRO_print_start ende
#---------------------------------------------------------------------------------------------


#gcode_macro G32------------------------------------------------------------------------------
[gcode_macro G32]
gcode:
   {action_respond_info ("extruder temp = %i" % printer['gcode_macro print_start'].extruder_temp )}
   {action_respond_info ("bed_temp = %i" % printer['gcode_macro print_start'].bed_temp )}
   {action_respond_info ("material = %s" % printer['gcode_macro print_start'].material )}   
   {action_respond_info ("print_min_x = %i" % printer['gcode_macro print_start'].print_min_x)}
   {action_respond_info ("print_min_y = %i" % printer['gcode_macro print_start'].print_min_y)}
   {action_respond_info ("print_max_x = %i" % printer['gcode_macro print_start'].print_max_x)}
   {action_respond_info ("print_max_y = %i" % printer['gcode_macro print_start'].print_max_y)}
   {% set bed_temp = printer['gcode_macro print_start'].bed_temp|default(0)|int %} 
   M104 S{150}      		                    # M104 Setzte Extruder Temperatur und warte nicht bis Temp erreicht ist.
   M190 S{bed_temp} 		                    # M190 Setzte Bett Temperatur und warte bis Temp erreicht ist.
   G28              		                    # Referenz fahrt in X,Y und Z
   #G0 X190 Y190 Z50 F3600	                    # Fahre im Eilgang in mitte Druckbett
   #G28 Z                                       # Refernzfahrt in Z
   QUAD_GANTRY_LEVEL		                    # Richte die 4 Z-Stepper zum Druckbett aus
   G28 Z					                    # Refernzfahrt in Z
   ;BED_MESH_CALIBRATE PRINT_MIN={PARAMS.PRINT_MIN} PRINT_MAX={PARAMs.PRINT_MAX} FORCE_NEW_MESH=True
   G0 Z30 F3600	                                # Fahre im Eilgang in mitte Druckbett
   SET_MATERIAL_SETTINGS
   #BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX} FORCE_NEW_MESH=True
   M118 MAKRO_G32 ende
#---------------------------------------------------------------------------------------------





#CLEAN_NOZZLE-------------------------------------------------------------------------------------
[gcode_macro CLEAN_NOZZLE_START]
  gcode:
    M118 MAKRO_CLEAN_NOZZLE_START start
    G1 Z 55
    SET_SERVO SERVO=NozzelScrub ANGLE=180           # Drehe Servo auf 115 Grad 
    G4 P2500                                        # Warte 1,5 sek. 
    G1 X45 Y304 F6000                               # Fahre zu Startposition Wischer 
    G1 X10 F6000                                    # Fahre zu Endposition Wischer 
    G1 X45 F6000                                    # Fahre zu Startposition Wischer 
    G1 X10 F6000                                    # Fahre zu Endposition Wischer 
    G1 X125 F6000 G1 X155 F6000 G1 X190 Y190 F6000  # Benutzerdefinierte Position nach dem Wischen 
    #clean_nozzle                                    # Starte clean_nozzle MAKRO
    G1 Z 55
    SET_SERVO SERVO=NozzelScrub ANGLE=0             # Drehe Servo auf 0 Grad 
    G4 P2000                                        # 1 Sekunde warten, um sicherzustellen, dass sich der Servo vor dem Beenden bewegt 
    SET_SERVO SERVO=NozzelScrub WIDTH=0             # Deaktivere den Servo
    M118 MAKRO_CLEAN_NOZZLE_START ende
#---------------------------------------------------------------------------------------------



#---------------------------------------------------------------------------------------------
[gcode_macro SET_MATERIAL_SETTINGS]
description: Passt Druckeinstellungen basierend auf Filamenttyp an
gcode:
  {% set FILAMENT_TYPE = params.MATERIAL|default('"PLA"')|string %}
     #{action_respond_info ("material = %s" % printer['gcode_macro print_start'].material )} 
      #{% set MATERIAL = params.MATERIAL|default('"PLA"')|string %}
  {action_respond_info ("material = %s" % printer['gcode_macro print_start'].material )}   
  {% if FILAMENT_TYPE == "PLA" %}
    # PETG-spezifische Einstellungen
    BED_MESH_PROFILE LOAD=Standart_PLA
    M118 Filament ist {FILAMENT_TYPE}
#   ##SET_RETRACTION RETRACT_LENGTH=1.2
#   ##SET_RETRACTION RETRACT_SPEED=30
#   ##SET_RETRACTION UNRETRACT_SPEED=30
    #SET_Z_OFFSET Z=0.1
    #M104 S240
    #M140 S80
    {% elif FILAMENT_TYPE == "ASACF" %}
    M118 Filament Typ ist AAAAAASACF
    BED_MESH_PROFILE LOAD=Standart_ASACF
    M118 Filament_type ist {FILAMENT_TYPE}
    # ABS-spezifische Einstellungen
    #SET_Z_OFFSET Z=0.2
    #M104 S255
    #M140 S100
    {% elif FILAMENT_TYPE == "PA12-CF" %}
    BED_MESH_PROFILE LOAD=Standart_PLA
    M118 Filament ist {FILAMENT_TYPE}
    # ASA-spezifische Einstellungen
    #SET_Z_OFFSET Z=0.1
    #M104 S265
    #M140 S100
    {% else %}
    # Standardeinstellungen (z.B. für PLA)
    #SET_Z_OFFSET Z=0.15
    #M104 S210
    #M140 S60
  {% endif %}
#M109 S{printer.heater_bed.target} ; Warten, bis Bett die Temperatur erreicht hat
#M190 S{printer.extruder.target} ; Warten, bis Extruder die Temperatur erreicht hat
   M118 MAKRO_SET_MATERIAL_SETTINGS zu ende
#---------------------------------------------------------------------------------------------


#---------------------------------------------------------------------------------------------
[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
    {% set Z_HEIGHT = 10 %}
    {% set PARK_X = 200 %}
    {% set PARK_Y = 200 %}

    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    PRINT_END

    # Wait for the print to end, then move the toolhead
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} # Set timeout back to default value
    M117 Druck Abbruch... # Display message
    G91 # Relative positioning
    G1 Z{Z_HEIGHT} F300 # Move head up by Z_HEIGHT
    G90 # Absolute positioning
    G0 X{PARK_X} Y{PARK_Y} F6000 # Move to a safe X/Y position
#---------------------------------------------------------------------------------------------

  
#---------------------------------------------------------------------------------------------    
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament

    G91                            ; relative positioning
    G0 Z5.00 X10.0 Y20.0 F10000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X190 Y350 F3600            ; park nozzle at rear
    #BED_MESH_CLEAR
    
    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0
    #SDCARD_RESET_FILE
    #status_part_read    
#---------------------------------------------------------------------------------------------


#---------------------------------------------------------------------------------------------
[gcode_macro LOAD_FILAMENT]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=210
    M109 S210
    #SET_PIN PIN=LED VALUE=1.00
    M83
    G0 E10 F60
    M83
    G0 E100 F600
    M83
    G0 E100 F600
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=210
    M83
    G0 E100 F300
    M83
    G0 E100 F300
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=210
    M83
    G0 E100 F300
    M83
    G0 E100 F300
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    #SET_PIN PIN=LED VALUE=0.00

#---------------------------------------------------------------------------------------------



#---------------------------------------------------------------------------------------------
[gcode_macro UNLOAD_FILAMENT]
gcode:
    M109 S200
    #SET_PIN PIN=LED VALUE=1.00
    M83
    G0 E-30 F60
    M83
    G0 E-10 F300
   #M83
   #G0 E-100 F600
   #M83
   #G0 E-100 F600
   #M83
   #G0 E-100 F600
   #M83
   #G0 E-100 F600
    #TURN_OFF_HEATERS
    #SET_PIN PIN=LED VALUE=0.00
#---------------------------------------------------------------------------------------------



[gcode_macro DUMP_VARIABLES]
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}
    
    {% set out = [] %}

    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {action_respond_info(out|join("\n"))}




[gcode_macro WLED_ON]
description: Turn WLED strip on using optional preset and resets led colors
gcode:
  {% set strip = params.STRIP|default("chamber")|string %}
  {% set preset = params.PRESET|default(4)|int %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=True,
                             preset=preset)}





[gcode_macro FAKE_POSITION]
gcode:
  SET_KINEMATIC_POSITION X=150 Y=150 Z=1


##################################################
#     Power Macros
##################################################
# Description: This section has a macro that calls moonraker to toggle our relay, a macro for delayed gcode, and a macro to call the delayed gcode when our printer enters the state "idle"

[gcode_macro POWER_OFF_PRINTER]
# Description: This macro asks moonraker to toggle our "relay" state to "off"
gcode:
  {action_call_remote_method(
    "set_device_power", device="relay", state="off"
  )}
# Comments:
# action_call_remote_method is used to call a method registered by a remote client (moonraker)
# "set_device_power" is the method we want to call from the moonraker.cfg
# "device" is the name of the deivce defined in moonraker.cfg
# "state" is the state of the relay, on, off, or toggle

  
[delayed_gcode delayed_printer_off]
# Description: This macro calls the "POWER_OFF_PRINTER" macro once the "printer" object is in state "idle"
initial_duration: 0.
gcode:
  {% if printer.idle_timeout.state == "Idle" %}
    POWER_OFF_PRINTER
  {% endif %}

# Comments:
# "delayed_gcode" is a way to execute gcode after a set delay
# "initial_duration"
#   The duration of the initial delay (in seconds). If set to a
#   non-zero value the delayed_gcode will execute the specified number
#   of seconds after the printer enters the "ready" state. This can be
#   useful for initialization procedures or a repeating delayed_gcode.
#   If set to 0 the delayed_gcode will not execute on startup.
#   Default is 0.
# "POWER_OFF_PRINTER" calls the "POWER_OFF_PRINTER" macro defined above


[gcode_macro PID_GRAD]
# Description: This macro asks moonraker to toggle our "relay" state to "off"
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=200



[gcode_macro NEOPIXEL_HEATER_TEMPERATURE]
gcode:
  NEOPIXEL_DISPLAY LED="my_led" TYPE=extruder_temp MODE=glow





[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}






[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}

  
  
  
[gcode_macro SET_SERVO_WINKEL]
#variable_servo_winkel:0
gcode:
    #SDCARD_RESET_FILE
    {% set WINKEL = params.SERVO_WINKEL|default(0)|float %}
    #{% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(180)|int %}
    #SET_GCODE_VARIABLE MACRO=print_start VARIABLE=bed_temp VALUE={BED_TEMP}                 #Variable wir GOLBAL gepeichert
    #SET_GCODE_VARIABLE MACRO=print_start VARIABLE=extruder_temp VALUE={EXTRUDER_TEMP}       #Variable wir GOLBAL gepeichert
    SET_SERVO SERVO=NozzelScrub ANGLE={WINKEL}
  #Fiment:30