# This file contains common pin mappings for the BigTreeTech OctoPus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON2 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths							[mcu] section
## Thermistor types						[extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## Z Endstop Switch location			[safe_z_home] section
## Homing end position				[gcode_macro G32] section
## Z Endstop Switch  offset for Z0		[stepper_z] section
## Probe points							[quad_gantry_level] section
## Min & Max gantry corner postions		[quad_gantry_level] section
## PID tune								[extruder] and [heater_bed] sections
## Probe pin								[probe] section
## Fine tune E steps					[extruder] section
# Klipper backup

[include mainsail.cfg]
[include shell_command.cfg]
[include makros/timelapse.cfg]
#[include hardware/BTT_OCTOPUS_PRO_1.0.cfg]
[include hardware/BTT_OCTOPUS_PRO_1.0_mit_tmc5160Tpro.cfg]
[include hardware/BTT_EBB42.cfg]
[include hardware/Orbiter2_SmartSensor.cfg]
##[include makros/macros.cfg]
[include makros/led_progress.cfg]
[include makros/led_effects.cfg]
[include makros/nozzle_scrub_adv.cfg]
[include makros/print_area_bed_mesh.cfg]
[include makros/quad_gantry_level.cfg]
[include makros/led_progress.cfg]
[include makros/fw_retract.cfg]
[include makros/purge_line.cfg]
[include makros/line_purge.cfg]
[include makros/dump_parameters.cfg]
#[include makros/calibrate.cfg]
#[include makros/calibrate_full.cfg]
#[include makros/bed_mesh_calibrate.cfg]
##[include makros/test_speed.cfg]
#[include makros/klipper-spoolman.cfg]
#[include bd_pressure.cfg]
[include makros/backup.cfg]

[exclude_object]
[gcode_arcs]





[mcu]
canbus_uuid: 92a456973409
##	[X in MOTOR0] - B Motor
##	[Y in MOTOR1] - A Motor
##	[E in MOTOR6] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
## serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_0E002B00135053424E363620-if00
# restart_method: command
##--------------------------------------------------------------------



[mcu host]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 6000    			#Max 4000
max_z_velocity: 30 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 2000
square_corner_velocity: 5.0



[force_move]
enable_force_move: true
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.


[virtual_sdcard]
path: ~/printer_data/gcodes #/home/pi/printer_data/gcodes

[delayed_gcode welcome]
initial_duration: 1.
gcode:
  M118 Willkommen!
  status_off
  SET_LED LED="leds" RED=0.3 GREEN=0.3 BLUE=0.3 WHITE=0.3 SYNC=0 TRANSMIT=1

[resonance_tester]
accel_chip: adxl345
probe_points: 180, 180, 40 

#[input_shaper]

[servo NozzelScrub]
pin: PB6
initial_angle: 0
maximum_servo_angle: 180
minimum_pulse_width: 0.0005
maximum_pulse_width: 0.0025


[gcode_macro Duese_Reinigen]

gcode:
 G4 P3000             #Wartezeit in ms.
 SET_SERVO SERVO=NozzelScrub ANGLE=180
 G4 P1000

 {% if 175 <= printer['extruder'].temperature %}
   G1 E-5
 {% endif %}

 SET_SERVO SERVO=NozzelScrub ANGLE=0
 G4 P3000



#[shaketune]
#result_folder: ~/printer_data/config/ShakeTune_results
##    The folder where the results will be stored. It will be created if it doesn't exist.
#number_of_results_to_keep: 3
##    The number of results to keep in the result_folder. The oldest results will
##    be automatically deleted after each runs.
## keep_raw_csv: False
##    If True, the raw CSV files will be kept in the result_folder alongside the
##    PNG graphs. If False, they will be deleted and only the graphs will be kept.
#show_macros_in_webui: True
##    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
##    printer.cfg file. If you want to see the macros in the webui, set this to True.
#timeout: 300
##    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.





#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 6000


[safe_z_home]
home_xy_position:190, 190
speed:300
z_hop:5
z_hop_speed: 2.0



#####################################################################
# 	LED Control
#####################################################################

[output_pin caselight]
# Chamber Lighting - HE2 Connector (Optional)
pin: PA3
pwm:true
shutdown_value: 0
value:0.35
cycle_time: 0.001

#[neopixel my_led]
#pin: PB0
#chain_count: 24
#color_order: GRB
#initial_RED: 0.3
#initial_GREEN: 0.3
#initial_BLUE: 0.3


#[output_pin Raspberry]
#pin: host:gpio20
#pin: host:gpio532
#pwm: true
#cycle_time: 0.0005

#[output_pin Raspberry]
#pin: host:gpiochip15/gpio20
#pwm: true
#cycle_time: 0.0005


#[output_pin caselight]
#pin: host:pwmchip0/pwm0
#pwm: True
#hardware_pwm: True
#cycle_time: 0.000001

#[output_pin beeper]
#pin: host:pwmchip0/pwm1
#pwm: True
#hardware_pwm: True
#value: 0
#shutdown_value: 0
#cycle_time: 0.0005



[bed_mesh]
speed: 100
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 3
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
mesh_min: 20, 20
#   Defines the minimum X, Y coordinate of the mesh for rectangular
#   beds. This coordinate is relative to the probe's location. This
#   will be the first point probed, nearest to the origin. This
#   parameter must be provided for rectangular beds.
mesh_max: 360, 360
#   Defines the maximum X, Y coordinate of the mesh for rectangular
#   beds. Adheres to the same principle as mesh_min, however this will
#   be the furthest point probed from the bed's origin. This parameter
#   must be provided for rectangular beds.
probe_count: 5, 5
#   For rectangular beds, this is a comma separate pair of integer
#   values X, Y defining the number of points to probe along each
#   axis. A single value is also valid, in which case that value will
#   be applied to both axes. Default is 3, 3.
#fade_start: 1.0
#   The gcode z position in which to start phasing out z-adjustment
#   when fade is enabled. Default is 1.0.
#fade_end: 0.0
#   The gcode z position in which phasing out completes. When set to a
#   value below fade_start, fade is disabled. It should be noted that
#   fade may add unwanted scaling along the z-axis of a print. If a
#   user wishes to enable fade, a value of 10.0 is recommended.
#   Default is 0.0, which disables fade.
#fade_target:
#   The z position in which fade should converge. When this value is
#   set to a non-zero value it must be within the range of z-values in
#   the mesh. Users that wish to converge to the z homing position
#   should set this to 0. Default is the average z value of the mesh.
#split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will trigger
#   a split. Default is .025.
#move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
#mesh_pps: 2, 2
#   A comma separated pair of integers X, Y defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed point.
#   The user may enter a single value which will be applied to both
#   axes. Default is 2, 2.
algorithm: lagrange
#   The interpolation algorithm to use. May be either "lagrange" or
#   "bicubic". This option will not affect 3x3 grids, which are forced
#   to use lagrange sampling. Default is lagrange.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above may
#   be applied to change the amount of slope interpolated. Larger
#   numbers will increase the amount of slope, which results in more
#   curvature in the mesh. Default is .2.
zero_reference_position: 190, 190
#   An optional X,Y coordinate that specifies the location on the bed
#   where Z = 0.  When this option is specified the mesh will be offset
#   so that zero Z adjustment occurs at this location.  The default is
#   no zero reference.
#faulty_region_1_min:
#faulty_region_1_max:
#   Optional points that define a faulty region.  See docs/Bed_Mesh.md
#   for details on faulty regions.  Up to 99 faulty regions may be added.
#   By default no faulty regions are set.
#adaptive_margin:
#   An optional margin (in mm) to be added around the bed area used by
#   the defined print objects when generating an adaptive mesh.
#scan_overshoot:
#  The maximum amount of travel (in mm) available outside of the mesh.
#  For rectangular beds this applies to travel on the X axis, and for round beds
#  it applies to the entire radius.  The tool must be able to travel the amount
#  specified outside of the mesh.  This value is used to optimize the travel
#  path when performing a "rapid scan".  The minimum value that may be specified




[auto_speed]
#axis: diag_x, diag_y  ; One or multiple of `x`, `y`, `diag_x`, `diag_y`, `z`
#margin: 20            ; How far away from your axes to perform movements
#settling_home: 1      ; Perform settling home before starting Auto Speed
#max_missed: 1.0       ; Maximum full steps that can be missed
#endstop_samples: 3    ; How many endstop samples to take for endstop variance
accel_min: 1000.0     ; Minimum acceleration test may try
accel_max: 25000.0    ; Maximum acceleration test may try
#accel_accu: 0.05      ; Keep binary searching until the result is within this percentage
#velocity_min: 50.0    ; Minimum velocity test may try
#velocity_max: 5000.0  ; Maximum velocity test may try
#velocity_accu: 0.05   ; Keep binary searching until the result is within this percentage
#derate: 0.8           ; Derate discovered results by this amount
#validate_margin: Unset      ; Margin for VALIDATE, Defaults to margin
#validate_inner_margin: 20.0 ; Margin for VALIDATE inner pattern
#validate_iterations: 50     ; Perform VALIDATE pattern this many times
#results_dir: ~/printer_data/config ; Destination directory for graphs

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.126
#*# pid_ki = 1.537
#*# pid_kd = 102.706
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 41.206
#*# pid_ki = 1.006
#*# pid_kd = 421.850
#*#
#*# [probe]
#*# z_offset = -0.340
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 53.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 31.8
#*# shaper_type_z = mzv
#*# shaper_freq_z = 53.6
#*#
#*# [bed_mesh standart_50grad]
#*# version = 1
#*# points =
#*# 	-0.147500, -0.077500, -0.087500, -0.120000, -0.072500, -0.105000
#*# 	-0.075000, -0.047500, -0.037500, -0.055000, -0.042500, -0.037500
#*# 	-0.050000, -0.002500, 0.017500, -0.010000, 0.020000, -0.022500
#*# 	-0.025000, 0.022500, -0.002500, 0.030000, 0.010000, -0.027500
#*# 	-0.080000, -0.012500, 0.005000, -0.052500, -0.027500, -0.050000
#*# 	-0.157500, -0.100000, -0.055000, -0.072500, -0.097500, -0.137500
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 360.0
#*# min_y = 20.0
#*# max_y = 360.0
#*#
#*# [bed_mesh Standart_ASACF]
#*# version = 1
#*# points =
#*# 	-0.147500, -0.077500, -0.087500, -0.120000, -0.072500, -0.105000
#*# 	-0.075000, -0.047500, -0.037500, -0.055000, -0.042500, -0.037500
#*# 	-0.050000, -0.002500, 0.017500, -0.010000, 0.020000, -0.022500
#*# 	-0.025000, 0.022500, -0.002500, 0.030000, 0.010000, -0.027500
#*# 	-0.080000, -0.012500, 0.005000, -0.052500, -0.027500, -0.050000
#*# 	-0.157500, -0.100000, -0.055000, -0.072500, -0.097500, -0.137500
#*# min_x = 20.0
#*# max_x = 360.0
#*# min_y = 20.0
#*# max_y = 360.0
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*#
#*# [bed_mesh Standart]
#*# version = 1
#*# points =
#*# 	-0.147500, -0.077500, -0.087500, -0.120000, -0.072500, -0.105000
#*# 	-0.075000, -0.047500, -0.037500, -0.055000, -0.042500, -0.037500
#*# 	-0.050000, -0.002500, 0.017500, -0.010000, 0.020000, -0.022500
#*# 	-0.025000, 0.022500, -0.002500, 0.030000, 0.010000, -0.027500
#*# 	-0.080000, -0.012500, 0.005000, -0.052500, -0.027500, -0.050000
#*# 	-0.157500, -0.100000, -0.055000, -0.072500, -0.097500, -0.137500
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 360.0
#*# min_y = 20.0
#*# max_y = 360.0
#*#
#*# [bed_mesh Standart_ASACF ]
#*# version = 1
#*# points =
#*# 	  -0.000000, -0.000000, -0.000000, -0.000000, -0.000000, -0.000000
#*# 	  -0.000000, -0.000000, -0.000000, -0.000000, -0.000000, -0.000000
#*# 	  -0.000000, -0.000000, -0.000000, -0.000000, -0.000000, -0.000000
#*# 	  -0.000000, -0.000000, -0.000000, -0.000000, -0.000000, -0.000000
#*# 	  -0.000000, -0.000000, -0.000000, -0.000000, -0.000000, -0.000000
#*# 	  -0.000000, -0.000000, -0.000000, -0.000000, -0.000000, -0.000000
#*# min_x = 20.0
#*# max_x = 360.0
#*# min_y = 20.0
#*# max_y = 360.0
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
