[gcode_shell_command cmd_webcam_brightness]
# brightness 0x00980900 (int)    : min=0 max=255 step=1 default=128 value=128
command: /home/pi/shell_command/webcam_brightness.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_BRIGHTNESS]
gcode:
  {% set bright = params.BRIGHT|default(128)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_brightness PARAMS={bright}



[gcode_shell_command cmd_webcam_contrast]
# contrast 0x00980901 (int)    : min=0 max=255 step=1 default=128 value=128
command: /home/pi/shell_command/webcam_contrast.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_CONTRAST]
gcode:
  {% set contrast = params.CONTRAST|default(128)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_contrast PARAMS={contrast}



[gcode_shell_command cmd_webcam_saturation]
# saturation 0x00980902 (int)    : min=0 max=255 step=1 default=128 value=128
command: /home/pi/shell_command/webcam_contrast.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_SATURATION]
gcode:
  {% set saturation = params.SATURATION|default(128)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_saturation PARAMS={saturation}

  

[gcode_shell_command cmd_webcam_white_balance_automatic]
# white_balance_automatic 0x0098090c (bool)   : default=1 value=1
command: /home/pi/shell_command/webcam_contrast.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_WHITE_BALANCE_AUTOMATC]
gcode:
  {% set white_balance = params.WHITE_BALANCE|default(128)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_white_balance_automatic PARAMS={white_balance}



[gcode_shell_command cmd_webcam_gain]
# gain 0x00980913 (int)    : min=0 max=255 step=1 default=0 value
command: /home/pi/shell_command/gain.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_GAIN]
gcode:
  {% set gain = params.GAIN|default(0)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_white_balance_automatic PARAMS={gain}



[gcode_shell_command cmd_webcam_power_line_frequency]
# power_line_frequency 0x00980918 (menu)   : min=0 max=2 default=2 value=2 (60 Hz)  0: Disabled  1: 50 Hz 2: 60 Hz
command: /home/pi/shell_command/webcam_power_line_frequency.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_POWER_LINE_FREQUENCY]
gcode:
  {% set power_line_frequency = params.POWER_LINE_FREQUENCY|default(1)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_power_line_frequency PARAMS={power_line_frequency}

 

[gcode_shell_command cmd_webcam_white_balance_temperature]
# white_balance_temperature 0x0098091a (int)    : min=2000 max=6500 step=1 default=4000 value=4000 flags=inactive
command: /home/pi/shell_command/webcam_white_balance_temperature.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_WHITE_BALANCE_TEMPERATURE]
gcode:
  {% set white_balance_temperature = params.WHITE_BALANCE_TEMPERATURE|default(4000)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_white_balance_temperature PARAMS={white_balance_temperature}



[gcode_shell_command cmd_webcam_sharpness]
# sharpness 0x0098091b (int)    : min=0 max=255 step=1 default=128 value=128
command: /home/pi/shell_command/webcam_sharpness.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_SHARPNESS]
gcode:
  {% set sharpness = params.SHARPNESS|default(128)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_sharpness PARAMS={sharpness}

  

[gcode_shell_command cmd_webcam_backlight_compensation]
# backlight_compensation 0x0098091c (int)    : min=0 max=1 step=1 default=0 value=0 
command: /home/pi/shell_command/webcam_backlight_compensation.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_BACKLIGHT_COMPENSATION]
gcode:
  {% set backlight_compensation = params.BACKLIGHT_COMPENSATION|default(0)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_backlight_compensation PARAMS={backlight_compensation}



[gcode_shell_command cmd_webcam_auto_exposure]
# auto_exposure 0x009a0901 (menu)   : min=0 max=3 default=3 value=3 (Aperture Priority Mode) 1: Manual Mode 3: Aperture Priority Mode
command: /home/pi/shell_command/webcam_auto_exposure.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_AUTO_EXPOSURE]
gcode:
  {% set auto_exposure = params.AUTO_EXPOSURE|default(3)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_auto_exposure PARAMS={auto_exposure}


  
[gcode_shell_command cmd_webcam_exposure_time_absolute]
# exposure_time_absolute 0x009a0902 (int)    : min=3 max=2047 step=1 default=250 value=250 flags=inactive
command: /home/pi/shell_command/webcam_auto_exposure.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_EXPOSURE_TIME_ABSOLUTE]
gcode:
  {% set exposure_time_absolute = params.EXPOSURE_TIME_ABSOLUTE|default(250)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_exposure_time_absolute PARAMS={exposure_time_absolute}



[gcode_shell_command cmd_webcam_exposure_dynamic_framerate]
# exposure_dynamic_framerate 0x009a0903 (bool)   : default=0 value=1
command: /home/pi/shell_command/webcam_exposure_dynamic_framerate.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_EXPOSURE_DYNAMIC_FRAERATE]
gcode:
  {% set exposure_dynamic_framerate = params.EXPOSURE_DYNAMIC_FRAERATE|default(0)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_exposure_dynamic_framerate PARAMS={exposure_dynamic_framerate}



[gcode_shell_command cmd_webcam_pan_absolute]
# pan_absolute 0x009a0908 (int)    : min=-36000 max=36000 step=3600 default=0 value=0
command: /home/pi/shell_command/webcam_pan_absolute.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_PAN_ABSOLUTE]
gcode:
  {% set pan_absolute = params.PAN_ABSOLUTE|default(0)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_pan_absolute PARAMS={pan_absolute}



[gcode_shell_command cmd_webcam_tilt_absolute]
# tilt_absolute 0x009a0909 (int)    : min=-36000 max=36000 step=3600 default=0 value=0
command: /home/pi/shell_command/webcam_tilt_absolute.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_TILT_ABSOLUTE]
gcode:
  {% set tilt_absolute = params.TILT_ABSOLUTE|default(0)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_tilt_absolute PARAMS={tilt_absolute}

  

[gcode_shell_command cmd_webcam_focus_absolute]
# focus_absolute 0x009a090a (int)    : min=0 max=250 step=5 default=0 value=0 flags=inactive
command: /home/pi/shell_command/webcam_focus_absolute.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_FOCUS_ABSOLUTE]
gcode:
  {% set focus_absolute = params.FOCUS_ABSOLUTE|default(0)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_focus_absolute PARAMS={focus_absolute}



[gcode_shell_command cmd_webcam_focus_automatic_continuous]
# focus_automatic_continuous 0x009a090c (bool)   : default=1 value=1
command: /home/pi/shell_command/webcam_focus_automatic_continuous.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_AUTOFOCUS]
gcode:
  {% set focus_automatic_continuous = params.FOCUS_AUTOMATIC_CONTINUOUS|default(1)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_focus_automatic_continuous PARAMS={focus_automatic_continuous}



[gcode_shell_command cmd_webcam_zoom_absolute]
# zoom_absolute 0x009a090d (int)    : min=100 max=500 step=1 default=100 value=100
command: /home/pi/shell_command/webcam_zoom_absolute.sh
timeout: 2.
verbose: True

[gcode_macro WEBCAM_ZOOM_ABSOLUTE]
gcode:
  {% set zoom_absolute = params.ZOOM_ABSOLUTE|default(100)|int %}
  RUN_SHELL_COMMAND CMD=cmd_webcam_zoom_absolute PARAMS={zoom_absolute}



[gcode_shell_command cmd_nozzlecam_focus_automatic_continuous]
# focus_automatic_continuous 0x009a090c (bool)   : default=1 value=1
command: /home/pi/shell_command/nozzlecam_focus_automatic_continuous.sh
timeout: 2.
verbose: True

[gcode_macro NOZZLECAM_AUTOFOCUS]
gcode:
  {% set focus_automatic_continuous = params.FOCUS_AUTOMATIC_CONTINUOUS|default(1)|int %}
  RUN_SHELL_COMMAND CMD=cmd_nozzlecam_focus_automatic_continuous PARAMS={focus_automatic_continuous}


  
[gcode_shell_command cmd_nozzlecam_zoom_absolute]
# zoom_absolute 0x009a090d (int)    : min=100 max=500 step=1 default=100 value=100
command: /home/pi/shell_command/nozzlecam_zoom_absolute.sh
timeout: 2.
verbose: True

[gcode_macro NOZZLECAM_ZOOM_ABSOLUTE]
gcode:
  {% set zoom_absolute_n = params.NOZZLEZOOM_ABSOLUTE|default(100)|int %}
  RUN_SHELL_COMMAND CMD=cmd_nozzlecam_zoom_absolute PARAMS={zoom_absolute_n}
